<script type="text/javascript">
	var user_url = function(screen_name) {
		return '<a class="username" target="_blank" href="https://twitter.com/' + screen_name + '">' + screen_name + '</a>';
	};

	var twiterfy = function(tweet) {
		tweet = tweet.replace(/(^|\s)@(\w+)/g, '$1<a target="_blank" href="https://twitter.com/$2">@$2</a>');
		tweet = tweet.replace(/(^|\s+)(https*\:\/\/\S+[^\.\s+])/g, '$1<a target="_blank" href="$2">$2</a>');
		return tweet.replace(/(^|\s)#(\w+)/g, '$1 <a target="_blank" href="http://search.twitter.com/search?q=%23$2">#$2</a>');
	};

	var user_image = function(image_url) {
		return '<img width="48" height="48" src="' + image_url + '"/>';
	}

	var has_localstorage = 'localStorage' in window && window['localStorage'] !== null;

	var insert = function(data){
		var counter = $('span#tweet_count');
		counter.text(parseInt(counter.text()) + 1);
		json = $.parseJSON(data);
		var image = user_image(json.user.profile_image_url);
		var meta = json.created_at.split(' ').slice(0, -2).join(' ');
		if (json.retweeted_status) {
			var image = user_image(json.retweeted_status.user.profile_image_url);
			var user = user_url(json.retweeted_status.user.screen_name);
			var text = twiterfy(json.retweeted_status.text);
			meta = '<span class="rt">Retweeted by ' + json.user.screen_name + '</span>' + meta;
		} else {
			var user = user_url(json.user.screen_name);
			var text = twiterfy(json.text);
		}
		var text = '<p>' + user + ': <span>' + text + '</span></p>';
		var content = image + text;
		$('#tweets').prepend('<div class="tweet" style="display:none;">' + content + '</div><div class="clear" style="display:none;">' + meta + '</div>');
		if (!(json.retweeted_status && !window.show_rt)) {
			$('#tweets .tweet:first').fadeIn('slow');
			$('#tweets .tweet:first').next().fadeIn('slow');
		}
	};

	$.each($('.tweet span'), function() {
		$(this).html(twiterfy($(this).html()));
	});
	$.each($('#top_tweets span'), function() {
		$(this).html(twiterfy($(this).html()));
	});

	var hide_rts = function(speed) {
		$('.rt').parent().prev().slideUp(speed);
		$('.rt').parent().slideUp(speed);
		$('#show').show();
		$('#hide').hide();
		window.show_rt = false;
		if (has_localstorage) {
			localStorage.setItem('show_rt', 'hide');
		}
	};

	var show_rts = function(speed) {
		$('.rt').parent().prev().slideDown(speed);
		$('.rt').parent().slideDown(speed);
		$('#show').hide();
		$('#hide').show();
		window.show_rt = true;
		if (has_localstorage) {
			localStorage.setItem('show_rt', 'show');
		}
	};

	window.show_rt = true;
	if (has_localstorage) {
		if ('show_rt' in localStorage) {
			window.show_rt = localStorage.getItem('show_rt') == 'show';
		}
	}

	if (!window.show_rt) { hide_rts(0); }

	if (!window.WebSocket) {
		$('#notice').css("display", "block");
	} else {
		try {
			var ws = new WebSocket("{{ websocket_server }}/");
			ws.onmessage = function (e) { insert(e.data); };
			ws.onclose = function() { $('#closed').css("display", "block"); };
			ws.onerror = function() { $('#error').css("display", "block"); };
		} catch (e) {
			//alert(e);
		}
	}
</script>
